.inner {
	margin: 5em 0;

	&__top {
		margin-top: 5em;
	}

	&__bottom {
		margin-bottom: 7em;
	}
}


.promo {
	position: relative;
	width: 100%;
	height: 100vh;

	&__bg {
		position: absolute;
		overflow: hidden;
		left: 0;
		top: 0;
		width: 100%;
	}

	&__img {
		width: auto;
		height: 100vh;
		background-size: cover;
		background-position: 50%;

		&--retail {
			background-image: url(../../img/images/2.jpg);
		}

		&--wholesale {
			background-image: url(../../img/images/3.jpg);
		}
	}

	&__item {
		position: absolute;
		z-index: 0;
		top: 0;
		height: 100vh;
		width: 100%;
		color: #FFF;
		-webkit-transition: background-color .35s;
		transition: background-color .35s;

		&:hover {
			color: #FFF;
			background: rgba(0, 0, 0, 0.4);
		}
		

		&__content {
			position: absolute;
			left: 40px;
			right: 40px;
			top: 20%;
			text-align: left;


			&__icon {

			}

			&__title {
				display: block;
				margin-bottom: 10px;
				font-weight: 400;
				font-size: 26px;
				line-height: 1.33;
				text-transform: uppercase;
				letter-spacing: .04em;
				margin: 0 auto;
				max-width: 300px;
			}

			&__text {
				display: block;
				margin: 0 auto;
				max-width: 300px;
				font-size: 14px;
			}

			&__link {
				display: block;
				margin: 20px auto;
				max-width: 300px;
				font-size: 18px;
				z-index: 12;



				&:hover {
					color: #000;
				}
			}
		}
	}
}


@media (max-width: @screen-sm) {
	.promo {
		height: 50vh;

		&__img {
			height: 50vh;
		}

		&__item {
			height: 50vh;
		}
	}
}

@media (max-width: 760px) {
	.promo {
		height: 100vh;

		&__img {
			height: 50vh;
		}

		&__item {
			height: 50vh;
		}

		&--retail {
			top: 0;
		}

		&--wholesale {
			top: 50vh;
		}
	}
}

.wrapper {
	width: 100%;
	overflow: hidden;
}




// Catalogue

.catalogue {

	&__item {

		a {
		width: 100%;
		height: 100%;
		display: block;

		}

		&__img img {
			width: 100%;
		}

		&__content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			color: #fff;
			text-align: center;

			&:hover {
				background: rgba(0, 0, 0, 0.4);
			}

			&__title {
				position: absolute;
				bottom: 10%;
				left: 0;
				right: 0;
				font-size: 25px;
			}

			&__articulus {
				display: block;
				position: absolute;
				bottom: 5%;
				left: 0;
				right: 0;
			}
		}
	}
}






.footer {
	border-top: 1px solid @link-color;
	padding: 90px 0 10px;
	color: #fff;


	& a {
		color: #fff;

		&:hover {
			text-decoration: none;
			color: #777;
		}
	}

	&__text .h3 {
		margin-bottom: 30px;
		font-weight: bold;
		font-style: italic;
		color: @brand-success;
	}

	&__list ul{
		list-style: none;
		padding-left: 0;
	}
}


form.newsletter {
	
	input {
		display: block;
		padding: 0;
		padding-bottom: 4px;
		background: none;
		outline: none;
		border: none;
		border-bottom: 1px solid @link-color;
	}

	input[type=submit] {
		border-bottom: none;
		padding: 15px 0;

		&:hover {
			color: @link-hover-color;
		}
	}

	input[placeholder] {
		color: @brand-success;
	}
}

.map-box {
	position: relative;
	width: 100%;
	height: 500px;
}

#map {
	width: 100%; 
	height: 500px; 
	padding: 0; 
	margin: 0;
}






