.materials {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 50px;
	background-size: cover;


	&--01004-blue {
		background-image: url(../../img/images/clothes/w15/01-004/01-004-m-bl.jpg);
	}

	&--01008-blue {
		background-image: url(../../img/images/clothes/w15/01-008/01-008-m-bl.jpg);
	}

	&--01008-beg {
		background-image: url(../../img/images/clothes/w15/01-008/01-008-m-beg.jpg);
	}

	&--01009-ker {
		background-image: url(../../img/images/clothes/w15/01-009/01-009-m-ker.jpg);
	}

	&--01010-beg {
		background-image: url(../../img/images/clothes/w15/01-010/01-010-m-beg.jpg);
	}

	&--01010-bl {
		background-image: url(../../img/images/clothes/w15/01-010/01-010-m-bl.jpg);
	}

	&--01010-black {
		background-image: url(../../img/images/clothes/w15/01-010/01-010-m-black.jpg);
	}

	&--01010-print {
		background-image: url(../../img/images/clothes/w15/01-010/01-010-m-print.jpg);
	}

	&--01012-bl {
		background-image: url(../../img/images/clothes/w15/01-012/01-012-m-bl.jpg);
	}

	&--01013-bl {
		background-image: url(../../img/images/clothes/w15/01-013/01-013-m-bl.jpg);
	}

	&--01013-cr {
		background-image: url(../../img/images/clothes/w15/01-013/01-013-m-cr.jpg);
	}

	&--01015-gr {
		background-image: url(../../img/images/clothes/w15/01-015/01-015-m-gr.jpg);
	}

	&--01015-bl {
		background-image: url(../../img/images/clothes/w15/01-015/01-015-m-bl.jpg);
	}

	&--02006-black {
		background-image: url(../../img/images/clothes/w15/02-006/02-006-m-black.jpg);
	}

	&--02006-blu {
		background-image: url(../../img/images/clothes/w15/02-006/02-006-m-blu.jpg);
	}

	&--02006-gr {
		background-image: url(../../img/images/clothes/w15/02-006/02-006-m-gr.jpg);
	}

	&--02007-bg {
		background-image: url(../../img/images/clothes/w15/02-007/02-007-m-bg.jpg);
	}

	&--02007-bl {
		background-image: url(../../img/images/clothes/w15/02-007/02-007-m-bl.jpg);
	}

	&--02008-bl {
		background-image: url(../../img/images/clothes/w15/02-008/02-008-m-bl.jpg);
	}

	&--02008-pur {
		background-image: url(../../img/images/clothes/w15/02-008/02-008-m-pur.jpg);
	}

	&--03003-bl {
		background-image: url(../../img/images/clothes/w15/03-003/03-003-m-bl.jpg);
	}

	&--03003-pur {
		background-image: url(../../img/images/clothes/w15/03-003/03-003-m-pur.jpg);
	}

	&--03004-bl {
		background-image: url(../../img/images/clothes/w15/03-004/03-004-m-bl.jpg);
	}

	&--03004-pk {
		background-image: url(../../img/images/clothes/w15/03-004/03-004-m-pk.jpg);
	}

	&--04006-bg {
		background-image: url(../../img/images/clothes/w15/04-006/04-006-m-bg.jpg);
	}

	&--04006-bl {
		background-image: url(../../img/images/clothes/w15/04-006/04-006-m-bl.jpg);
	}

	&--04007-all {
		background-image: url(../../img/images/clothes/w15/04-007/04-004-m-all.jpg);
	}

	&--04007-ser {
		background-image: url(../../img/images/clothes/w15/04-007/04-004-m-ser.jpg);
	}

	&--05001-bl {
		background-image: url(../../img/images/clothes/w15/05-001/05-001-m-bl.jpg);
	}

	&--05001-wt {
		background-image: url(../../img/images/clothes/w15/05-001/05-001-m-wt.jpg);
	}

	&--05004-bl {
		background-image: url(../../img/images/clothes/w15/05-004/05-004-m-bl.jpg);
	}

	&--05005-wt {
		background-image: url(../../img/images/clothes/w15/05-005/05-005-m-wt.jpg);
	}

	&--05006-print {
		background-image: url(../../img/images/clothes/w15/05-006/05-006-m-print.jpg);
	}

	&--05007-bg {
		background-image: url(../../img/images/clothes/w15/05-007/05-007-m-bg.jpg);
	}

	&--05007-bl {
		background-image: url(../../img/images/clothes/w15/05-007/05-007-m-bl.jpg);
	}

	&--05008-bl {
		background-image: url(../../img/images/clothes/w15/05-008/05-008-m-bl.jpg);
	}

	&--05008-gr {
		background-image: url(../../img/images/clothes/w15/05-008/05-008-m-gr.jpg);
	}

	&--06017-bl {
		background-image: url(../../img/images/clothes/w15/06-017/06-017-m-bl.jpg);
	}

	&--06017-dbl {
		background-image: url(../../img/images/clothes/w15/06-017/06-017-m-dbl.jpg);
	}

	&--06017-pk {
		background-image: url(../../img/images/clothes/w15/06-017/06-017-m-pk.jpg);
	}

	&--07006-bl {
		background-image: url(../../img/images/clothes/w15/07-006/07-006-m-bl.jpg);
	}

	&--07006-dbl {
		background-image: url(../../img/images/clothes/w15/07-006/07-006-m-dbl.jpg);
	}

	&--07007-ber {
		background-image: url(../../img/images/clothes/w15/07-007/07-007-m-ber.jpg);
	}

	&--07007-pk {
		background-image: url(../../img/images/clothes/w15/07-007/07-007-m-pk.jpg);
	}

	&--07008-bl {
		background-image: url(../../img/images/clothes/w15/07-008/07-008-m-bl.jpg);
	}

	&--07008-pk {
		background-image: url(../../img/images/clothes/w15/07-008/07-008-m-pk.jpg);
	}

	&--08004-bg {
		background-image: url(../../img/images/clothes/w15/08-004/08-004-m-bg.jpg);
	}

	&--08005-bg {
		background-image: url(../../img/images/clothes/w15/08-005/08-005-m-bg.jpg);
	}

	&--08005-dbg {
		background-image: url(../../img/images/clothes/w15/08-005/08-005-m-dbg.jpg);
	}

	&--09001-bg {
		background-image: url(../../img/images/clothes/w15/09-001/09-001-m-bg.jpg);
	}

	&--09001-bk {
		background-image: url(../../img/images/clothes/w15/09-001/09-001-m-bk.jpg);
	}

	&--09001-bl {
		background-image: url(../../img/images/clothes/w15/09-001/09-001-m-bl.jpg);
	}

	&--09001-wt {
		background-image: url(../../img/images/clothes/w15/09-001/09-001-m-wt.jpg);
	}

	&--09004-pbg {
		background-image: url(../../img/images/clothes/w15/09-004/09-004-m-pbg.jpg);
	}

	&--09004-wt {
		background-image: url(../../img/images/clothes/w15/09-004/09-004-m-wt.jpg);
	}

	&--09005-bk {
		background-image: url(../../img/images/clothes/w15/09-005/09-005-m-bk.jpg);
	}

	&--09005-bl {
		background-image: url(../../img/images/clothes/w15/09-005/09-005-m-bl.jpg);
	}

	&--10003-wt {
		background-image: url(../../img/images/clothes/w15/10-003/10-003-m-wt.jpg);
	}

	&--10003-c {
		background-image: url(../../img/images/clothes/w15/10-003/10-003-m-c.jpg);
	}

	&--11005-ser {
		background-image: url(../../img/images/clothes/w15/11-005/11-005-m-ser.jpg);
	}

	&--11005-wt {
		background-image: url(../../img/images/clothes/w15/11-005/11-005-m-wt1.jpg);
	}

	&--11006-c {
		background-image: url(../../img/images/clothes/w15/11-006/11-006-m-c.jpg);
	}

	&--11006-wt {
		background-image: url(../../img/images/clothes/w15/11-006/11-006-m-wt.jpg);
	}

	&--11007-bl {
		background-image: url(../../img/images/clothes/w15/11-007/11-006-m-bl.jpg);
	}

	&--11007-c {
		background-image: url(../../img/images/clothes/w15/11-007/11-006-m-c.jpg);
	}
}







