.news {


	&__block {
		margin-top: 6em;

		&:last-child {
			margin-bottom: 6em;
		}

		&--title {
			font-family: @font-family-serif;
			font-style: italic;
			font-weight: bold;
			color: #b88b58;
			padding-right: 2em;


			&--date {
				font-family: @font-family-sans-serif;
				font-style: normal;
				font-weight: normal;
				color: @gray-light;
				font-size: .8em;

				span {
					display: inline;
				}

				p {
					display: inline;

					&:before {
					content: '|';
					margin: 0 10px;
					}
				}
			}
		}

		&--text {
			font-size: 1.5em;


			img {
				margin-bottom: 1em;
				border: 1px solid @brand-success;
			}
		}
	}
}



.news-box {

	&__content {
		padding:3em 1.5em;
		box-shadow: 0px 0px 0px 1px @body-bg;
		background-color: @brand-info;
		height:21em;
		overflow: hidden;

		&:hover {
			background-color: @body-bg;
		}

		&__title {
			font-family: @font-family-sans-serif;
			color: @brand-success;
			font-size: 2em;
		}

		&__date {
			color: @gray-light;

			& span {
				display: inline-block;
			}

			& p {
				display: inline-block;

				&:before {
				content: '|';
				margin: 0 10px;
				}
			}
		}

		&__text {
			display: block;
			height: 4em;
			overflow: hidden;

			&:after {
				content: '...';
			}
		}

		&__link {
			display: block;
			width: 3em;
			margin-top: 1em;

			&:after {
				content: '...';
			}
		}
	}
}






















